<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>
    <div id="landing-header">
        <h1>Welcome to Minutes!</h1>
        <a class="btn btn-lg btn-success" href="/meetings">View Meeting</a>        
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>