<table class="table table-sm">
  <thead>
    <tr>        
      <th scope="col">Number</th>
      <th scope="col">Date</th>
      <th scope="col">Action(s)</th>
    </tr>
  </thead>
  <tbody>
    <% meetings.forEach(meeting => { %>
    <tr>        
        <td><%= meeting.number %></td>
        <td><%= new Date(meeting.date).toLocaleDateString() %></td>
        <td class="text-center">
          <a href="/meetings/<%= meeting.id %>" class="btn btn-info">Open</a>
        </td>        
    </tr>      
    <% }) %>        
  </tbody>
</table>